body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white;
}

img.resize{
  width: 35px !important;
  height: 35px;
  margin: 2px;
}
.navbar{
  margin-bottom: 1rem;
}
.navbar a {
  font-weight: bold;
  color: white;
}

.navbar a:hover{
  color: #fe5900;
  text-decoration: none;
  cursor: pointer;
}

.navbar-brand > img{
  display: inline-block;
  width: 20px;
  margin-bottom: 2px;
  margin-right: 5px;
  border-radius: 2px;
}

ul.nav.navbar-nav li{
  margin: 0 0.5rem;
}

.onboarding > .navbar{
  /*background-image: url("../public/images/micabLogo.png");
  background-size: 100% 100%;*/
  background-color: #2d2d2d;
}

.home-hero{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  background-image: url("./modules/images/bridge.jpg");
  text-align: center;
  padding: 1rem;
  background-position: center center;
  background-size: cover;
}
.comfortaa-text{
  font-family: 'Comfortaa';
}
.welcome-text{
  color: white;
  font-size: 70px;
  font-family: 'Comfortaa';
}